# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

#logs
*.log


#libs
app/src/libs/zpdk-release.aar
app/libs/*.aar

#fcmkeys
app/google-services.json


#keystore
app/release.keystore
*.keystore

gradle.properties
